.header {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  color: white;
}

.header h1 {
  font-size: 1.5rem;
}

.content {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  padding: 0.5rem;
  text-align: center;
}

.chips {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form {
  min-width: 350px;
  width: 90%;
  max-width: 600px;
}

.feedback-field {
  width: 100%;
}

.note {
  margin-top: 2rem;
  text-align: center;
}
