<mat-card
  class="team-card"
  [appearance]="transactions().length ? 'raised' : 'outlined'"
  [class.mat-elevation-z4]="transactions().length > 0"
>
  <div class="header-actions-wrapper header-footer-bg">
    <mat-card-header>
      <img
        mat-card-avatar
        src="{{ team.team_logo }}"
        alt="{{ team.team_name }}"
      />
      <mat-card-title>{{ team.team_name }}</mat-card-title>
      <mat-card-subtitle>
        {{ team.league_name }} ({{ team.game_name }}, {{ team.game_season }})
      </mat-card-subtitle>
    </mat-card-header>
    <div>
      <button
        mat-icon-button
        matTooltip="Open {{ team.team_name }} in Yahoo"
        (click)="gotoExternalDomain(team.team_url)"
      >
        <mat-icon>open_in_new</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="card-content-section">
      <b>{{ team.rank | nth }} of {{ team.num_teams }}</b>
      @if (team.outcome_totals) {
        <br />
        {{ team.outcome_totals.wins }}-{{ team.outcome_totals.losses }}-{{
          team.outcome_totals.ties
        }}
        ({{ team.outcome_totals.percentage }})
      }
      @if (team.points_for) {
        <br />
        {{ team.points_for | number: "1.2-2" }} points
        @if (team.points_against) {
          for, {{ team.points_against | number: "1.2-2" }} points against
        }
        @if (team.points_back) {
          ({{ team.points_back | number: "1.2-2" }} points behind leader)
        }
      }
      <br />
      {{ scoringType[team.scoring_type] }}
      @if (team.max_games_played > 0 || team.max_innings_pitched > 0) {
        <br />
        Max Games Played Limit
      }
      @if (team.weekly_deadline != "intraday" && team.weekly_deadline != "") {
        <br />
        Weekly Lineup Changes
      }
      <div class="padded-divider">
        <mat-divider />
      </div>
      {{ team.current_season_adds }}
      {{ team.max_season_adds > 0 ? "of " + team.max_season_adds : "" }}
      transactions this season
      <br />
      {{
        team.max_weekly_adds > 0
          ? team.current_weekly_adds +
            " of " +
            team.max_weekly_adds +
            " transactions this week"
          : ""
      }}
      <div class="padded-divider">
        <mat-divider />
      </div>
      @if (transactions().length > 0) {
        @for (transaction of transactions(); track transaction) {
          <app-transaction
            [transaction]="transaction"
            (isSelected)="onSelectTransaction($event)"
          />
        }
      } @else {
        <p>No transactions available. Check back tomorrow.</p>
      }
    </div>
  </mat-card-content>
</mat-card>
