.team-card {
  min-width: 350px;
  width: 90%;
  max-width: 600px;
  margin: 1rem;
}

.header-actions-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-footer-bg {
  background-color: #0000000f;
}

button {
  margin-left: auto;
  margin-right: 0.5rem;
  padding: 0;
}

.card-content-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.error {
  color: red;
}

.centered-text {
  text-align: center;
}

.padded-divider {
  padding-top: 1em;
  padding-bottom: 1em;
}
