<div class="header primaryColorBG"><h1>About Fantasy AutoCoach</h1></div>
<div class="content">
  <div class="page-content">
    <p>
      Your personal Fantasy AutoCoach will optimize and set your Yahoo fantasy
      lineups, automatically, every day on your behalf. You won't have to lift a
      finger. Just set up your team once and let it do the work for the rest of
      the season.
    </p>
    <p>
      All four major sports are supported. Football, Basketball, Baseball, and
      Hockey, each with their own custom logic.
    </p>
    <h2>How it Works</h2>
    <ul>
      <li>
        <strong>Optimized Lineups</strong><br />
        The best lineup for each day is determined based on player projections,
        crowd-sourced player rankings, confirmed and probable starters, and
        injury information. <br /><br />Lineups set weekly will also take into
        account the schedule for each player in the upcoming week to balance
        games played with the other factors above.
      </li>
      <li>
        <strong>Last Minute Lineup Changes</strong><br />
        If news comes out about a player late in the day (injury status update,
        starting status, etc), the lineup will be automatically updated again
        before each game starts to reflect the best possible roster. The changes
        will be made at :55 of the hour if there is an upcoming game.
      </li>
      <li>
        <strong>Intelligent Use of Injury Spaces</strong><br />
        If there are healthy players on your IR, we will use them to fill in for
        a player who is injured on your starting lineup. Players will be
        automatically shuffled between your starting lineup and IR(+) / IL(+) /
        NA spaces if their eligibility allows for it.
      </li>
      <li>
        <strong>Easy to Use</strong><br />
        There is just one option. On or Off. You can set it and forget it.
      </li>
    </ul>
    <div>
      <app-team
        class="card-container"
        [team]="sampleTeam()"
        [gameTimeStamps]="sampleTimestamps()"
        (toggleSetLineupEvent)="setLineupBoolean($event)"
        (togglePauseLineupEvent)="togglePauseLineupActions($event)"
      />
      <p style="display: flex; justify-content: center">
        <i>
          This is how all of your teams will be presented to you after login
        </i>
      </p>
    </div>
    <h2>Why?</h2>
    <p>
      Fantasy AutoCoach was created because I wanted to spend more time enjoying
      the season and less time on the monotonous tasks, like shuffling my
      lineup.
    </p>
    <p>
      I also wanted to create a tool that would help me win my league. I wanted
      to be able to focus on the strategy of the season and not have to worry
      about the day-to-day details. I can focus on the GM duties and let the
      Fantasy AutoCoach handle the rest.
    </p>
    <p>
      Many points are lost because of poor lineup decisions, forgetting to set
      your lineups, or not being aware of last minute, real-life, roster moves.
      This tool aims to eliminate all of those needless points left stranded on
      the bench.
    </p>
    <h2>How to Set Up</h2>
    <p>
      Simply log in with your Yahoo credentials and all of your teams will be
      presented to you. Just set the toggle to "On" for each team and you're
      done. You can always come back to turn it off for any team if you'd prefer
      to work them manually.
    </p>
    <h2>What it Won't Do</h2>
    <p>
      Fantasy AutoCoach will not make trades, adds, drops, or waiver wire
      pickups for you (yet..). It will not make any permanent roster decisions
      for you. It will just optimize your lineup every day.
    </p>
  </div>
  <!-- <h2>Upcoming Features</h2>
    <p>Here are some of the things that are coming up:</p>
    <ul>
      <li>
        <strong>Fill Rosters Positions for Injured Players</strong><br />
        If you have a player on your roster who is injured, we will move them to
        an open IR / IR+ / NA slot if space permits and fill that roster
        position with a healthy player from the free agency pool or waivers.
      </li>
      <li>
        <strong>Suggest Add and Drop Candidate Players</strong><br />
        We will suggest players to add and players drop based on their projected
        performance, hot streaks, the moves of other owners, and your team's
        needs.
      </li>
    </ul> -->
</div>
<app-robots></app-robots>
