.card {
  border: 1px solid var(--accent-grey);
  border-radius: 4px;
}

.green-header {
  background-color: green;
  padding: 0.1em;
}

.red-header {
  background-color: red;
  padding: 0.1em;
}

.card-content {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1rem;

  .player-details {
    margin-bottom: 0;
    margin-right: auto;
  }
}

.ownership {
  font-size: 0.75em;
  font-weight: bold;
  padding-left: 0.5rem;
  margin-bottom: 0;
}

.player-stats {
  padding-bottom: 0.5em;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  td {
    color: var(--text-grey);
  }
}
