<div class="card">
  <div
    [ngClass]="{
      'add-trx-header':
        isAdding && player.ownership?.ownership_type !== 'waivers',
      'waiver-trx-header':
        isAdding && player.ownership?.ownership_type === 'waivers',
      'remove-trx-header': !isAdding,
    }"
  ></div>
  <p class="ownership">
    {{ playerOwnership }}
  </p>
  <div class="card-content">
    <p class="player-details">
      {{ player.player_name }} [{{ player.ownership_score | number: "1.2-2" }}]
      ({{ playerPositions }})
    </p>
    <button mat-icon-button (click)="toggleExpanded()">
      <mat-icon>
        {{ expanded() ? "keyboard_arrow_up" : "keyboard_arrow_down" }}
      </mat-icon>
    </button>
  </div>
  @if (expanded()) {
    <div class="card-content player-stats">
      <table>
        <tr>
          <td>Percent Owned</td>
          <td>{{ player.percent_owned }}</td>
        </tr>
        @if (player.ranks.last30Days !== -1) {
          <tr>
            <td>Last 30 Days Rank</td>
            <td>{{ player.ranks.last30Days }}</td>
          </tr>
        }
        @if (player.ranks.last14Days !== -1) {
          <tr>
            <td>Last 14 Days Rank</td>
            <td>{{ player.ranks.last14Days }}</td>
          </tr>
        }
        @if (player.ranks.next7Days !== -1) {
          <tr>
            <td>Next 7 Days Rank</td>
            <td>{{ player.ranks.next7Days }}</td>
          </tr>
        }
        @if (player.ranks.last4Weeks !== -1) {
          <tr>
            <td>Last 4 Weeks Rank</td>
            <td>{{ player.ranks.last4Weeks }}</td>
          </tr>
        }
        @if (player.ranks.projectedWeek !== -1) {
          <tr>
            <td>Projected Week Rank</td>
            <td>{{ player.ranks.projectedWeek }}</td>
          </tr>
        }
        @if (player.ranks.next4Weeks !== -1) {
          <tr>
            <td>Next 4 Weeks Rank</td>
            <td>{{ player.ranks.next4Weeks }}</td>
          </tr>
        }
        @if (player.ranks.restOfSeason !== -1) {
          <tr>
            <td>Rest of Season Rank</td>
            <td>{{ player.ranks.restOfSeason }}</td>
          </tr>
        }
      </table>
    </div>
  }
</div>
