.line-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.form-field {
    width: 100%;
    padding-top: 1rem;
}

.static-label {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.left-item {
    margin-right: auto;
    width: 70%;
}

.right-item {
    width: 20%;
}