<div class="line-item">
  <div *ngIf="this.isEditing; else showStatic" class="left-item">
    <mat-form-field class="form-field">
      <mat-label>{{ itemLabel }}</mat-label>
      <input matInput type="email" [formControl]="itemValue" />
    </mat-form-field>
  </div>
  <ng-template #showStatic>
    <mat-label class="static-label">{{ itemLabel }}</mat-label>
    <mat-label class="static-label">{{ itemLabel }}</mat-label>
  </ng-template>
  <button
    mat-button
    *ngIf="this.inputType; else showPlaceholder"
    class="right-item"
    (click)="this.isEditing = !this.isEditing"
  >
    Edit
  </button>
  <ng-template #showPlaceholder><div class="right-item"></div></ng-template>
</div>
