<div class="header primaryColorBG">
    <h1>Automatically Optimize your Lineups</h1>
    <h3>
        The AI powered Fantasy AutoCoach works with all major sports on the
        Yahoo Fantasy Sports platform.
    </h3>
    <h3>Sign in below to get started.</h3>
    <div class="buttons">
        <button
            mat-raised-button
            color="accent"
            class="button"
            [routerLink]="'/about'"
        >
            Learn More
        </button>
        <button
            mat-raised-button
            color="accent"
            class="button"
            (click)="login()"
        >
            Sign in with Yahoo
        </button>
    </div>
</div>
<app-robots></app-robots>

<app-loading [loading]="loading()"></app-loading>
