.icon-button {
  background: none;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.icon-button .icon {
  height: 2.5rem;
}

.header {
  padding: 0.5rem;
  padding-top: 8rem;
  padding-bottom: 3rem;
  text-align: center;
  color: white;
}

.header h1 {
  font-size: 2rem;
}

.button {
  margin: 1rem;
  // transform: translateY(6rem);
}

.buttons {
  margin: 1rem;
}
