.roby-container {
  padding: 2rem;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  // align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 720px) {
  .roby-container {
    flex-direction: column;
  }
}

.roby-pair {
  display: flex;
}

.roby {
  margin: 0.5rem;
  min-width: 100px;
  width: 50%;
  max-width: 200px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-style: solid;
  border-width: 2px;
}
