<div class="card" [ngClass]="{ selected: transaction.selected }">
  @if (transaction) {
    <mat-checkbox
      [checked]="transaction.selected"
      (change)="onTransactionSelectChange($event)"
    >
      @if (transaction.reason) {
        <div class="card-container">
          <mat-icon class="info-icon">info</mat-icon>
          <div class="reason-text">{{ transaction.reason }}</div>
        </div>
      }
      @for (tPlayer of transaction.players; track tPlayer.player.player_key) {
        <div class="card-container">
          <mat-icon [class]="getTransactionIcon(tPlayer).class">
            {{ getTransactionIcon(tPlayer).icon }}
          </mat-icon>
          <app-player
            [player]="tPlayer.player"
            [isAdding]="tPlayer.transactionType === 'add'"
            class="player-card"
          />
        </div>
      }
    </mat-checkbox>
  }
</div>
