<div class="card" [ngClass]="{ selected: transaction?.selected }">
  <mat-checkbox
    *ngIf="transaction"
    (change)="toggleSelected()"
    [checked]="transaction.selected"
  >
    <div *ngIf="transaction.reason" class="card-container">
      <mat-icon class="info-icon">info</mat-icon>
      <div class="info-bubble">{{ transaction.reason }}</div>
    </div>
    <ng-container *ngFor="let tPlayer of transaction.players">
      <div class="card-container">
        <ng-container
          *ngIf="tPlayer.transactionType === 'add'; else showRemove"
        >
          <mat-icon class="add-icon">add</mat-icon>
        </ng-container>
        <ng-template #showRemove>
          <mat-icon class="remove-icon">remove</mat-icon>
        </ng-template>
        <app-player
          [player]="tPlayer.player"
          [isAdding]="tPlayer.transactionType === 'add'"
          class="player-card"
        ></app-player>
        <button
          mat-icon-button
          (click)="openEditDialog(tPlayer.playerKey, tPlayer.transactionType)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </ng-container>
  </mat-checkbox>
</div>
