.card {
  border: 1px solid var(--accent-grey);
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

/* TODO: Better way to make this happen? */
:host ::ng-deep .mat-mdc-checkbox {
  width: 100%; // Make checkbox take full width
  display: block; // Change display to block

  .mdc-form-field {
    width: 100%; // Make form field take full width
  }

  .mdc-label {
    width: 100%; // Make the label take full width
  }
}

.selected {
  background-color: rgba($color: #000000, $alpha: 0.05);
}

.card-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
}

.info-icon {
  color: #007bff;
  margin-right: 0.5rem;
}

.add-icon {
  color: green;
  margin-right: 0.5rem;
}

.waiver-icon {
  color: goldenrod;
  margin-right: 0.5rem;
}

.remove-icon {
  color: red;
  margin-right: 0.5rem;
}

.player-card {
  flex: 1;
  min-width: 0; // This ensures proper flex shrinking
  width: 100%;
  display: block; // Ensure it takes full width
}

.reason-text {
  flex: 1;
  min-width: 0; // Prevents text from pushing icon
  word-wrap: break-word; // Allows text to wrap
}
