<div class="roby-container" layout="row" layout-xs="column">
  <div class="roby-pair">
    <img
      class="roby"
      src="assets/roby-football.png"
      alt="Robot playing football"
    />
    <img
      class="roby"
      src="assets/roby-basketball.png"
      alt="Robot playing basketball"
    />
  </div>
  <div class="roby-pair">
    <img
      class="roby"
      src="assets/roby-baseball.png"
      alt="Robot playing baseball"
    />
    <img class="roby" src="assets/roby-hockey.png" alt="Robot playing hockey" />
  </div>
</div>
