<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="isLoggedIn && (isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <!-- TODO: Add *ngIf="!isLoggedIn" to login -->
      <a mat-list-item routerLink="login">Login</a>
      <a mat-list-item routerLink="teams" *ngIf="isLoggedIn">My Teams</a>
      <a mat-list-item routerLink="profile" *ngIf="isLoggedIn">Profile</a>
      <a mat-list-item routerLink="about">How It Works</a>
      <a mat-list-item routerLink="feedback">Contact Us</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z6" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="toolbar-logo">
        <img
          src="assets/FAPLogo-grey-nohandles.svg"
          alt="logo"
          class="logo"
          [routerLink]="''"
        />
        Fantasy Fixer
      </span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
