<div class="header primaryColorBG">
  <h1>My Teams</h1>
</div>

<div class="content">
  <app-offline-warning-card class="card" />
  <app-profile-card
    *ngIf="user()?.emailVerified === false"
    (isDirty)="onDirtyChange($event)"
    class="card"
  />
  <div class="instructions">
    <h3>
      Enable the <b>Automatically Manage Lineups</b> setting to get started with
      any of your teams below.
    </h3>
    <h3>Sit back, relax, and let Fantasy AutoCoach do the work for you!</h3>
  </div>

  @if (loading() && teams().length === 0) {
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Loading Teams...</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Please wait</p>
      </mat-card-content>
    </mat-card>
  } @else {
    @for (team of teams(); track team.team_key) {
      <app-team
        class="card-container"
        [team]="team"
        [gameTimeStamps]="
          schedule() && team.game_code
            ? schedule()!.games[team.game_code]
            : null
        "
        (toggleSetLineupEvent)="setLineupBoolean($event)"
        (togglePauseLineupEvent)="setPauseLineupActions($event)"
      />
    }
  }
</div>
