.line-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left-text {
  margin-right: auto;
  width: 70%;
}

.form-field {
  width: 100%;
  padding-top: 1rem;
}

.static-label {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.right-button {
  width: 20%;
}

.error {
  color: red;
}
