<div class="header primaryColorBG">
  <h1>Suggested Transactions</h1>
</div>
<div class="content">
  <ng-container *ngIf="teams.length > 0; else noTeams">
    <ng-container *ngIf="displayTransactions !== undefined; else showLoading">
      <app-team
        class="card-container"
        *ngFor="
          let team of teams | sortTeamsByTransactions : displayTransactions
        "
        [team]="team"
        [transactions]="displayTransactions[team.team_key] ?? []"
      ></app-team>
    </ng-container>
    <ng-template #showLoading>
      <h2>Loading Transactions...</h2>
    </ng-template>
  </ng-container>
  <ng-template #noTeams>
    <h2>No Teams Found</h2>
  </ng-template>
  <button
    mat-raised-button
    color="primary"
    class="button"
    [disabled]="!numSelectedTransactions"
  >
    Submit {{ numSelectedTransactions || "" }} Transaction{{
      numSelectedTransactions !== 1 ? "s" : ""
    }}
    to Yahoo
  </button>
</div>
