@use "sass:map";
@use "@angular/material" as mat;

@mixin theme-color-grabber($theme) {
  $color-config: mat.m2-get-color-config($theme);
  $primary-palette: map.get($color-config, "primary");
  $accent-palette: map.get($color-config, "accent");

  .primaryColorBG {
    background: mat.m2-get-color-from-palette($primary-palette, 500);
  }

  .accentColorBG {
    background: mat.m2-get-color-from-palette($accent-palette, 500);
  }
}
