@use "@angular/material" as mat;
@forward "./theme.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// workaround for mat-card elevation not working in library
// define any elevations we need here
.mat-mdc-card.mat-elevation-z4 {
  @include mat.elevation(4);
}
