@use "@angular/material" as mat;
@import './theme.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-card.mat-elevation-z1 {
    @include mat.elevation(1);
}

.mat-mdc-card.mat-elevation-z4 {
    @include mat.elevation(4);
}