@use '@angular/material' as mat;
@import "./theme-color-grabber";


@include mat.core();

$angular-primary: mat.define-palette(mat.$deep-purple-palette);
$angular-accent: mat.define-palette(mat.$amber-palette);

$angular-warn: mat.define-palette(mat.$red-palette);

$angular-light-theme: mat.define-light-theme((color: (primary: $angular-primary,
                accent: $angular-accent,
                warn: $angular-warn,
            ), background: (card-header-footer-background: red,
            ),
        ));

$angular-dark-theme: mat.define-dark-theme((color: (primary: $angular-primary,
                accent: $angular-accent,
                warn: $angular-warn,
            ), background: (card-header-footer-background: blue,
            ),
        ));

.light-theme {
    @include mat.all-component-themes($angular-light-theme);
    @include theme-color-grabber($angular-light-theme);
}

.dark-theme {
    @include mat.all-component-colors($angular-dark-theme);
    @include theme-color-grabber($angular-dark-theme);
}