.team-card {
    max-width: 600px;
    margin: 1rem;
}

.card-content-section {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
}